name: Run APK in Emulator

on:
  workflow_dispatch:

jobs:
  android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: android-actions/setup-android@v3

      - name: Install system image
        run: |
          sdkmanager "platform-tools" "platforms;android-29" "system-images;android-29;default;x86" --verbose

      - name: Run emulator and install APK
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: default
          arch: x86
          force-avd-creation: true
          emulator-options: "-no-window -noaudio -no-boot-anim"
          script: |
            adb install base-patched.apk
            adb shell monkey -p newway.open.chatgpt.ai.chat.bot.free -c android.intent.category.LAUNCHER 1
            adb logcat -d
