name: Run APK in Emulator

on:
  workflow_dispatch:

jobs:
  android:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Android SDK
      uses: android-actions/setup-android@v3

    - name: Install system image
      run: |
        sdkmanager --install "platform-tools"
        sdkmanager --install "platforms;android-30"
        sdkmanager --install "system-images;android-30;google_apis;x86_64"

    - name: Create AVD
      run: |
        echo "no" | avdmanager create avd \
          --name test \
          --package "system-images;android-30;google_apis;x86_64" \
          --device "pixel"

    - name: Start emulator
      run: |
        nohup emulator -avd test \
          -no-window \
          -gpu swiftshader_indirect \
          -noaudio \
          -no-boot-anim \
          -no-snapshot \
          > /dev/null 2>&1 &
        sleep 10

    - name: Wait for boot
      run: |
        adb wait-for-device
        for x in {1..45}; do
          booted=$(adb shell getprop sys.boot_completed)
          if [[ "$booted" == "1" ]]; then
            echo "Boot completed!"
            exit 0
          fi
          echo "Booting... $x"
          sleep 4
        done
        echo "Failed to boot."
        exit 1

    - name: Install APK
      run: adb install base-patched.apk

    - name: Launch App
      run: adb shell monkey -p newway.open.chatgpt.ai.chat.bot.free -c android.intent.category.LAUNCHER 1

    - name: Print logcat
      run: adb logcat -d
